.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $theme1-button-primary;
  border-radius: 0.5rem;
  position: relative;
  color: #434a59;

  & h1 {
    font-size: 3.2rem;
  }

  &:hover {
    cursor: pointer;
  }

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: hsl(28, 16%, 65%);
    top: 0.4rem;
    border-radius: 0.5rem;
    z-index: -1;
  }

  &--secondary,
  &--danger {
    color: #fff;

    & h1 {
      font-size: 2rem;
    }
  }

  &--secondary {
    background: $theme1-button-secondary;

    &::before {
      background: hsl(224, 28%, 35%);
    }
  }

  &--danger {
    background: $theme1-button-danger;

    &::before {
      background: hsl(6, 70%, 34%);
    }
  }
}
