.calculator {
  &__result {
    width: 100%;
    height: 8.8rem;
    color: #fff;
    background: $theme1-color-veryDark;
    padding: 0 2.4rem;
    align-items: center;
    border-radius: 1rem;
  }

  &__buttons {
    width: 32.7rem;
    height: 42rem;
    background: $theme1-color-dark;
    border-radius: 1rem;
    z-index: 1;
  }
}

@media screen and (min-width: 579px) {
  .calculator__buttons {
    width: 100%;
  }
}
