.nav {
  color: $theme1-letter-color;
  height: 4.2rem;
  width: 32rem;

  &__title {
    align-self: flex-end;
    font-size: 3.2rem;
  }

  &__theme {
    width: 13.9rem;
    height: 100%;

    &__title {
      font-size: 1.2rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      align-self: flex-end;
    }

    &__slider {
      width: 7.1rem;

      &__numbers {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
      }
    }
  }
}
