$theme1-color: #394663;
$theme1-color-dark: #242d44;
$theme1-color-veryDark: #171f33;
$theme1-number-color: #434a59;
$theme1-letter-color: #ffffff;
$theme1-slider-color: #d03f2f;
$theme1-button-primary: #eae3dd;
$theme1-button-secondary: #637198;
$theme1-button-danger: #d03f2f;
